---
import Slide from "../components/Slide.astro";
import SpeakerNote from "../components/SpeakerNote.astro";
---

<Slide>
  <h1 class="!tracking-wide">Fin</h1>
  <SpeakerNote>
    <p>
      Eso es todo. En suma, este trabajo sienta las bases para un avance
      significativo en la integración de criterios de sostenibilidad en el
      diseño de procesos industriales, con el potencial de transformar los
      paradigmas de producción hacia modelos más respetuosos con el medio
      ambiente sin dejar de lado la viabilidad técnica y el rendimiento
      económico de los mismos.
    </p>
    <p>
      De nuevo, muchas gracias por venir. Muchas gracias por su atención. Espero
      que hayan disfrutado de la charla. Si tienen alguna pregunta, no duden en
      hacerla.
    </p>
  </SpeakerNote>
</Slide>
