---
import KeyWord from "../components/KeyWord.astro";
import Slide from "../components/Slide.astro";
import SpeakerNote from "../components/SpeakerNote.astro";
---

<Slide>
  <Slide>
    <h2>Conclusiones</h2>
    <p class="text-left text-pretty">
      La presente investigación ha culminado en el <KeyWord>desarrollo</KeyWord>
      y <KeyWord>validación</KeyWord> de un novedoso
      <KeyWord>marco metodológico</KeyWord> de <KeyWord>ecodiseño</KeyWord> para
      la ingeniería de <KeyWord>procesos industriales</KeyWord>.
    </p>
    <SpeakerNote>
      <p>
        Probando su eficacia en la generación de escenarios óptimos que se
        alinean con los criterios de sostenibilidad.
      </p>
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Conclusiones</h2>
    <p class="text-left text-pretty">
      La herramienta <KeyWord>eco2des</KeyWord> se ha revelado como un
      <KeyWord>sistema de apoyo a la decisión robusto y versátil</KeyWord>.
    </p>
    <SpeakerNote>
      <p>
        Validada en dos casos de estudio distintos, reafirmando su valor para la
        realización de análisis de ecodiseño holísticos y para el impulso en la
        reducción de tiempos hacia la comercialización de nuevos procesos
        industriales sostenibles.
      </p>
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Conclusiones</h2>
    <p class="text-left text-pretty">
      Relevancia de los <KeyWord>modelos predictivos y rigurosos</KeyWord> en el
      contexto de <KeyWord>eco2des</KeyWord>, que aseguran la precisión de los
      resultados obtenidos.
    </p>
    <SpeakerNote>
      <p>Se debe enfatizar la...</p>
      <p>
        Si el modelo que alimenta el inventario predictivo del ciclo de vida no
        es robusto, los resultados obtenidos no serán fiables.
      </p>
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Conclusiones</h2>
    <p class="text-left text-pretty">
      Se identificó como <KeyWord>desafío principal</KeyWord> la
      <KeyWord>ausencia</KeyWord> de una
      <KeyWord>interfaz de datos estandarizada</KeyWord>, lo que dificultó la
      interoperabilidad entre sistemas.
    </p>
    <SpeakerNote>
      <p>Durante el desarrollo de eco2des...</p>
      <p>
        La digitalización y estandarización emergen, por lo tanto, como
        habilitadores esenciales para alcanzar la interoperabilidad de
        herramientas que impulsan soluciones sostenibles.
      </p>
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Conclusiones</h2>
    <p class="text-left text-pretty">
      En el futuro, las investigaciones deberían centrarse en:
    </p>
    <ul class="text-left text-pretty">
      <li>
        Integrar el <KeyWord>análisis social del ciclo de vida (ASCV)</KeyWord> dentro
        de la metodología.
      </li>
      <li>
        Avanzar en el desarrollo de soluciones digitales que operen en
        <KeyWord>tiempo real</KeyWord>.
      </li>
      <li>
        Explorar el potencial de los modelos predictivos impulsados por
        <KeyWord>inteligencia artificial</KeyWord>.
      </li>
      <SpeakerNote>
        <ul>
          <li>Para capturar todas las facetas de la sostenibilidad.</li>
          <li>
            Lo cual permitiría ajustes dinámicos en los sistemas en estudio y
            mejoras continuas.
          </li>
          <li>
            En concreto, redes neuronales, para la creación del inventario
            predictivo del ciclo de vida. Esto facilitaría una optimización aún
            más efectiva y una toma de decisiones en tiempo real, aplicando la
            metodología y la herramienta desarrolladas en la presente tesis, no
            solo al diseño, sino que también a la operación de procesos.
          </li>
        </ul>
      </SpeakerNote>
    </ul>
  </Slide>
</Slide>
