---
import KeyWord from "../components/KeyWord.astro";
import Slide from "../components/Slide.astro";
import SpeakerNote from "../components/SpeakerNote.astro";
---

<Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        Creciente <KeyWord>interés</KeyWord> y <KeyWord>compromiso</KeyWord> de empresas,
        gobiernos y consumidores por <KeyWord>fomentar</KeyWord> la
        <KeyWord>producción</KeyWord> y el <KeyWord>consumo sostenibles</KeyWord
        >.
      </li>
    </ul>
    <SpeakerNote>En éste contexto...</SpeakerNote>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        El <KeyWord>Pensamiento del Ciclo de Vida</KeyWord>
        (<KeyWord>LCT</KeyWord>, por sus siglas en inglés) se ha consolidado
        como el concepto central para <KeyWord>integrar</KeyWord> la
        <KeyWord>sostenibilidad</KeyWord> en el
        <KeyWord>desarrollo mundial</KeyWord>.
      </li>
    </ul>
    <SpeakerNote>
      <ol>
        <li>
          El LCT propone dejar de lado el enfoque tradicional centrado en el
          lugar de producción y los procesos de fabricación para comenzar a
          considerar los impactos ambientales, sociales y económicos de
          productos, sistemas o servicios a lo largo de todo su ciclo de vida.
        </li>
        <li>
          Para ello, se han desarrollado herramientas y metodologías que
          permiten evaluar y cuantificar dichos impactos. Entre ellas destacan:
          <ul>
            <li>
              El Análisis de Ciclo de Vida (ACV): Herramienta estandarizada para
              cuantificar los impactos ambientales. Serie ISO 14040.
            </li>
            <li>
              El Análisis de Coste del Ciclo de Vida (ACCV): Para cuantificar
              costes.
            </li>
            <li>
              El Análisis Social del Ciclo de Vida (ACSV): Para cuantifificar
              impactos sociales.
            </li>
          </ul>
        </li>
        <li>
          Todas estas herramientas, especialmente el ACV, se han convertido en
          una pieza clave para la toma de decisiones en el ámbito de la
          sostenibilidad. Esto se ve reflejado en...
        </li>
      </ol>
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        Tendencia ascendente en la <KeyWord>adopción</KeyWord> de
        <KeyWord>políticas</KeyWord> y <KeyWord>estrategias</KeyWord> basadas en
        el <KeyWord>LCT</KeyWord>.
      </li>
    </ul>
    <SpeakerNote>
      A nivel global, pero sobre todo en la Unión Europea, donde se ha
      establecido un marco normativo que promueve la integración del LCT en
      diferentes ámbitos. Por numerar algunas de estas políticas:
      <ul>
        <li>La pionera Regulación Ecolabel de 1992.</li>
        <li>
          El Green Deal en 2019, en el que la UE establece su meta de alcanzar
          la neutralidad de carbono para 2050.
        </li>
        <li>Fondos de recuperación y resilencia post-pandemia COVID19.</li>
        <li>
          CSRD (Corporate Sustainability Reporting Directive) que obligará
          alrededor de 50.000 empresas a informar de una forma estandarizada
          sobre su huella de carbono. Y que ha empezado este mismo año.
        </li>
      </ul>
      Hasta ahora, hemos visto por qué el LCT es importante y cómo se ha convertido
      en una herramienta clave para la sostenibilidad y por ello forma una parte
      esencial de mi tesis. A continuación, voy a hablar de por qué es importante
      su aplicación en sectores estratégicomo como el sector industrial.
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        La <KeyWord>industria</KeyWord> representa más del
        <KeyWord>20 % del PIB</KeyWord> de la UE y emplea a más de
        <KeyWord>35 millones de personas</KeyWord>.
      </li>
    </ul>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        Casi el <KeyWord>50 %</KeyWord> de
        <KeyWord>gases de efecto invernadero</KeyWord> y más del
        <KeyWord>90 %</KeyWord> del <KeyWord>deterioro</KeyWord> de la
        <KeyWord>biodiversidad</KeyWord> y <KeyWord>estrés hídrico</KeyWord>
        tienen origen industrial.
      </li>
    </ul>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        La <KeyWord>producción y consumo de energía</KeyWord> en la industria es
        responsable del <KeyWord>24 %</KeyWord> de las emisiones globales de
        <KeyWord>gases de efecto invernadero</KeyWord>.
      </li>
    </ul>
    <SpeakerNote>En conclusión...</SpeakerNote>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        Para alcanzar el ambicioso objetivo de
        <KeyWord>descarbonizar la industria</KeyWord> en consonancia con las
        <KeyWord>políticas de cero emisiones netas</KeyWord>, es necesario
        <KeyWord>desarrollar</KeyWord> nuevas cadenas de valor, así como
        <KeyWord>optimizar</KeyWord> las actuales en términos de indicadores clave
        de <KeyWord>rendimiento sostenible</KeyWord>.
      </li>
    </ul>
    <SpeakerNote>Pero a día de hoy, existen ciertos problemas...</SpeakerNote>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        <KeyWord>Carencia de datos</KeyWord> a escala industrial para respaldar los
        análisis de
        <KeyWord>sostenibilidad del ciclo de vida</KeyWord> en el desarrollo de procesos
        innovadores.
      </li>
    </ul>
    <SpeakerNote>
      Los modelos predictivos y simulaciones de procesos pueden calcular, a
      través de relaciones fisicoquímicas, el comportamiento de tecnologías en
      desarrollo a escala industrial y formular escenarios para la optimización
      ambiental o de costes. Aunque la simulación y las metodologías de análisis
      del ciclo de vida están bien estructuradas y existen muchas opciones de
      software especializado, actualmente...
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Motivación</h2>
    <ul class="!list-none">
      <li class="text-pretty">
        No existen investigaciones que las combinen de manera
        <KeyWord>holística</KeyWord> en una <KeyWord>herramienta única</KeyWord>
        para su aplicación en la
        <KeyWord>optimización económica y ambiental</KeyWord> de cualquier
        <KeyWord>proceso industrial</KeyWord>.
      </li>
    </ul>
    <SpeakerNote>
      <ol>
        <li>
          La falta de integración de estas herramientas en un único entorno
          computacional conlleva a la necesidad de transferir datos entre
          diferentes programas, lo que puede resultar en errores y pérdida de
          tiempo. O peor, entre diferentes agentes y disciplinas.
        </li>
        <li>
          Todo ello dificulta la comparación de resultados y la toma de
          decisiones. Conduciendo a múltiples fases de prueba y error, lo que
          incrementa excesivamente el tiempo de comercialización y los costes, y
          puede resultar en soluciones no optimizadas o inviables en términos de
          sostenibilidad.
        </li>
        <li>
          Por tanto, bajo la premisa de la integración, la automatización y la
          optimización en base a criterios sostenibles nace la presente tesis.
        </li>
      </ol>
    </SpeakerNote>
  </Slide>
</Slide>
