---
import KeyWord from "../components/KeyWord.astro";
import Slide from "../components/Slide.astro";
import SpeakerNote from "../components/SpeakerNote.astro";
---

<Slide>
  <Slide>
    <h2>Objetivos</h2>
    <p class="text-left text-pretty">
      Sentar las bases para un
      <KeyWord>marco metodológico de ecodiseño</KeyWord> orientado a la optimización
      de <KeyWord>procesos industriales</KeyWord> en base a criterios de sostenibilidad.
      Mediante la <KeyWord>automatización</KeyWord> e
      <KeyWord>integración holística</KeyWord> de la
      <KeyWord>simulación de procesos</KeyWord>, el <KeyWord>ACV</KeyWord>, el
      <KeyWord>ACCV</KeyWord> y técnicas de <KeyWord>optimización</KeyWord> matemática,
      en un <KeyWord>software</KeyWord> que garantize la fácil aplicación de la misma.
    </p>
    <SpeakerNote>De forma general...</SpeakerNote>
  </Slide>
  <Slide>
    <h2>Objetivos</h2>
    <ul>
      <li class="text-4xl mb-6">
        <KeyWord>Revisar el estado del arte</KeyWord> de aplicaciones y marcos metodológicos
        que combinan simulación, ACV, ACCV y análisis de decisión multicriterio.
      </li>
      <li class="text-4xl mb-6 fragment fade-up">
        <KeyWord>Definir un marco metodológico</KeyWord> holístico para la optimización
        basada en criterios sostenibles de procesos industriales, cimentado en la
        simulación de procesos, el ACV, el ACCV y técnicas de optimización matemática.
      </li>
      <li class="text-4xl mb-6 fragment fade-up">
        <KeyWord>Desarrollar un software precomercial</KeyWord> para la optimización,
        basada en criterios sostenibles, de procesos industriales, fundamentado en
        la metodología propuesta.
      </li>
      <li class="text-4xl mb-6 fragment fade-up">
        <KeyWord>Probar y validar</KeyWord> tanto la metodología planteada como el
        software desarrollado.
      </li>
      <SpeakerNote>De una forma desagregada...</SpeakerNote>
    </ul>
  </Slide>
</Slide>
