---
import Slide from "../components/Slide.astro";
---

<Slide>
  <div class="flex items-center justify-center">
    <figure class="w-32 opacity-80">
      <img src="urjc-logo.webp" alt="URJC logo" />
    </figure>
  </div>

  <h3>
    Una nueva herramienta integrada y holística<br /> para el eco-diseño de procesos
    industriales
  </h3>

  <p class="text-xl">Autor:</p>
  <p class="text-xl text-white opacity-80 font-semibold">Miguel García Casas</p>
  <p class="text-xl">Supervisores:</p>
  <p class="text-xl text-white opacity-80 font-semibold">
    Prof. Dr. Javier Dufour Andía<br /> Dr. José Luis Gálvez Martos
  </p>

  <p class="text-lg font-semibold">
    Programa de doctorado en tecnologías industriales:<br />
    Química, Ambiental, Energética, Electrónica, Mecánica, y de los Materiales
  </p>
</Slide>
