---
import KeyWord from "../components/KeyWord.astro";
import Slide from "../components/Slide.astro";
import SpeakerNote from "../components/SpeakerNote.astro";
---

<Slide>
  <Slide>
    <h2>Revisión del estado del arte</h2>
    <ol class="!flex flex-col gap-6">
      <li>
        <KeyWord>Casos de estudio</KeyWord> en los que se aplica la integración del
        análisis tecno-económico, el ACV y el análisis multicriterio.
      </li>
      <li>
        <KeyWord>Propuestas metodológicas</KeyWord> para una análisis integrado.
      </li>
    </ol>
    <SpeakerNote>
      <p>Se ha centrado en 2 aspectos...</p>
      <ol>
        <li>
          Se han revisado estudios en 2 sectores emergentes e innovadores, la
          producción de biofueles y la revalorización del CO2. Ya que en estos
          encajan los subsecuentes casos de estudio de la tesis. Además, se ha
          revisado un sector más maduro, el tratamiento de aguas residuales.
          Para valorar la viabilidad de la integración en TRLs altos. Por
          último, se incluyen algunas apliaciones en otro sectores para
          demostrar que la integración es aplicable de forma general en la
          industria.
        </li>
        <li>
          En segundo lugar, se han revisado propuestas metodológicas para una
          análisis integrado.
        </li>
      </ol>
      <p>
        En total se han revisado más de 50 artículos. Y a continuación voy a
        exponer las conclusiones fundamentales extraidas de este trabajo...
      </p>
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Revisión del estado del arte</h2>
    <p class="text-left text-pretty">
      La integración de estos métodos representa una
      <KeyWord>valiosa contribución</KeyWord> a las
      <KeyWord>evaluaciones cuantitativas</KeyWord> sobre la
      <KeyWord>sostenibilidad</KeyWord> de procesos industriales.
    </p>
    <SpeakerNote>
      Ayudando a los desarrolladores tecnológicos a comprender las implicaciones
      de distintas opciones de diseño en el rendimiento futuro (técnico,
      económico y ambiental) de procesos industriales, especialmente en niveles
      bajos de madurez tecnológica (TRL).
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Revisión del estado del arte</h2>
    <p class="text-left text-pretty">
      <KeyWord>Carencia</KeyWord> de
      <KeyWord>directrices metodológicas</KeyWord> para realizar un análisis integrado.
    </p>
    <SpeakerNote>
      De los más de 50 artículos revisados, solo 3 proponen marcos
      metodológicos. Esto dificulta la estandarización de los análisis
      integrados.
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Revisión del estado del arte</h2>
    <p class="text-left text-pretty">
      Una <KeyWord>herramienta integrada disminuiría</KeyWord> las
      <KeyWord>inconsistencias</KeyWord> entra los
      <KeyWord>límites del sistema</KeyWord>, las
      <KeyWord>unidades funcionales</KeyWord> y las
      <KeyWord>suposiciones</KeyWord> e <KeyWord>incertidumbres</KeyWord>
      existentes cuando los análisis técnicos, económicos y ambientales se realizan
      de forma independiente.
    </p>
    <SpeakerNote>
      Aun realizándose de forma conjunta, en la mayoría de los casos revisados
      los distintos análisis no están interconectados y lo único que se hace es
      harmonizar los métodos. En conclusión...
    </SpeakerNote>
  </Slide>
  <Slide>
    <h2>Revisión del estado del arte</h2>
    <p class="text-left text-pretty">
      <KeyWord>Nuevas investigaciones</KeyWord> son necesarias para desarrollar un
      <KeyWord>marco metodológico consistente</KeyWord> y una
      <KeyWord>herramienta integrada</KeyWord>.
    </p>
    <SpeakerNote>
      A medida que los casos de estudio que integran el análisis
      tecno-económico, el ACV y la optimización se están expandiendo.
    </SpeakerNote>
  </Slide>
</Slide>
