---
import CodeBlock from "../components/CodeBlock.astro";
import Slide from "../components/Slide.astro";
import SpeakerNote from "../components/SpeakerNote.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="A New Holistic and Integrated Tool for the Eco-Design of Industrial Processes"
  description="Sitio web de la defensa de doctorado para 'Una Nueva Herramienta Holística e Integrada para el Eco-Diseño de Procesos Industriales' por Miguel García Casas. Éste presenta una investigación que integra la simulación de procesos, el análisis del ciclo de vida (ACV) y el coste del ciclo de vida (ACCV) para la optimización basada en la sostenibilidad de los procesos industriales."
  author="Miguel García Casas"
>
  <Slide>
    <h1>Slide 1</h1>
    <p>This is a paragraph</p>
    <CodeBlock language="python">
      {
        `
		def function(): 
			print("Hello world!")
	  `
      }
    </CodeBlock>
    <SpeakerNote>Just a note</SpeakerNote>
  </Slide>
  <Slide>
    <h1>Slide 2</h1>
    <p>This is a paragraph</p>
  </Slide>
</Layout>
